@use 'var';
@use 'sass:map';

$column-gap: 0 !default;
$row-gap: 0 !default;

@mixin breakpoint($breakpoint: null) {
    $query: map.get(var.$breakpoint-map, $breakpoint);

    @media #{$query} {
        @content;
    }
}

@mixin S() {
    @include breakpoint(S) {
        @content;
    }
}

@mixin M() {
    @include breakpoint(M) {
        @content;
    }
}

@mixin L() {
    @include breakpoint(L) {
        @content;
    }
}

@mixin XL() {
    @include breakpoint(XL) {
        @content;
    }
}

.h1 {
    margin-bottom: 1rem;
    line-height: 1.3em;
    font-weight: 700;
    font-size: 24px;
    &:last-child {
        margin-bottom: 0;
    }
    @include S {
    }
    @include M {
    }
    @include L {
        font-size: 44px;
    }
}
.h2 {
    position: relative;
    margin-bottom: 1rem;
    line-height: 1.3em;
    font-weight: 700;
    font-size: 24px;
    &:last-child {
        margin-bottom: 0;
    }
    @include S {
    }
    @include M {
    }
    @include L {
        font-size: 36px;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0.1em;
        left: -1.2em;
        width: 1em;
        height: 1em;
        background-color: var.$colorMain;
        z-index: 10;
    }
}
.h3 {
    margin-bottom: 0.5rem;
    line-height: 1.3em;
    font-weight: 700;
    font-size: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    @include S {
    }
    @include M {
    }
    @include L {
        font-size: 24px;
    }

}
.h4 {
    margin-bottom: 0.5rem;
    line-height: 1.3em;
    font-weight: 700;
    font-size: 18px;
    &:last-child {
        margin-bottom: 0;
    }
    @include S {
    }
    @include M {
    }
    @include L {
        font-size: 20px;
    }
}

.listNumeric {
    list-style: decimal;
    padding-left: 20px;
    margin-bottom: 1em;
    li {
        margin-bottom: 0.5em;
    }
}

.listDisc {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 1em;
}
