@use 'mx';
@use 'var';
@use 'sass:math';

.h1 {
    margin-bottom: 1rem;
    line-height: 1.3em;
    font-weight: 700;
    font-size: 24px;
    &:last-child {
        margin-bottom: 0;
    }
    @include mx.S {
    }
    @include mx.M {
    }
    @include mx.L {
        font-size: 44px;
    }
}
.h2 {
    position: relative;
    margin-bottom: 1rem;
    line-height: 1.3em;
    font-weight: 700;
    font-size: 24px;
    &:last-child {
        margin-bottom: 0;
    }
    @include mx.S {
        padding-left: 1.5em;
    }
    @include mx.M {
    }
    @include mx.L {
        font-size: 36px;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0.1em;
        left: 0;
        width: 1em;
        height: 1em;
        background-color: var(--wp--preset--color--primary-1);
        z-index: 10;
        @include mx.S {
        }
        @include mx.M {
        }
        @include mx.L {
            left: -1.2em;
        }
    }
}
.h3 {
    margin-bottom: 0.5rem;
    line-height: 1.3em;
    font-weight: 700;
    font-size: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    @include mx.S {
    }
    @include mx.M {
    }
    @include mx.L {
        font-size: 24px;
    }

}
.h4 {
    margin-bottom: 0.5rem;
    line-height: 1.3em;
    font-weight: 700;
    font-size: 18px;
    &:last-child {
        margin-bottom: 0;
    }
    @include mx.S {
    }
    @include mx.M {
    }
    @include mx.L {
        font-size: 20px;
    }
}

.listNumeric {
    list-style: decimal;
    padding-left: 20px;
    margin-bottom: 1em;
    li {
        margin-bottom: 0.5em;
    }
}

.listDisc {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 1em;
}

.iconsprite {
    display: none;
}

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    top: -0.1em;
    position: relative;
}

.pagination {
    $size: 30px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    @include mx.S {
    }
    @include mx.M {
    }
    @include mx.L {
        margin-top: 60px;
    }
    &__item {
        margin: 5px 5px;
        @include mx.S {
            width: $size;
        }
        @include mx.M {
        }
        @include mx.L {
            margin: 0 5px;
        }
        &--prev,
        &--next {
            min-width: 100px;
            @include mx.S {
                display: none;
            }
            @include mx.M {
            }
            @include mx.L {
            }
        }
        &--prev {
            text-align: right;
            margin-right: 15px;
        }
        &--next {
            text-align: left;
            margin-left: 15px;
        }
    }
    &__link {
        display: inline-block;
        width: $size;
        height: $size;
        line-height: $size;
        text-align: center;
        background-color: transparent;
        color: var(--wp--preset--color--mono-black);
        text-decoration: none;
        border-radius: math.div($size, 2);
        font-weight: 700;
        &--current {
            background-color: var(--wp--preset--color--primary-1);
            cursor: default;
            color: var(--wp--preset--color--mono-white);
        }
    }
    &__prev,
    &__next {
        display: inline-block;
        height: $size;
        line-height: $size;
        text-decoration: none;
        color: var(--wp--preset--color--primary-1);
        @include mx.S {
            font-size: 2em;
        }
        @include mx.M {
        }
        @include mx.L {
        }
    }
}

.more {
    margin-bottom: 1em;
    &--opened {
        > .more__content {
            max-height: 99999px;
            &::after {
                display: none;
            }
        }
        > .more__button > .more__open {
            display: none;
        }
        > .more__button > .more__close {
            display: block;
        }
    }
    &__content {
        overflow: hidden;
        max-height: 60px;
        margin-bottom: 20px;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: 999;
            bottom: 0;
            left: 0;
            right: 0;
            height: 30px;
            background: linear-gradient(0deg, rgba(255,255,255,1) 0, rgba(255,255,255,0) 100%);
        }
        &--hideAll {
            max-height: 0;
        }
        p {
            margin-bottom: 0.5em;
            line-height: inherit;
        }
        ul {
            list-style: disc;
            li {
                margin-left: 1.3em;
                padding-left: 0.2em;
                margin-bottom: 0.2em;
            }
        }
        ol {
            li {
                margin-left: 1.3em;
                padding-left: 0.2em;
                margin-bottom: 0.2em;
            }
        }
    }
    &__button {
        display: block;
        margin-top: 0.5em;
        color: var(--wp--preset--color--primary-1);
        border: none;
        background: none;
        cursor: pointer;
        font-size: var(--wp--preset--font-size--normal) !important;
    }
    &__open {
        display: block;
    }
    &__close {
        display: none;
    }
}

.formatted {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.2em;
    }
    ul:not(.blocks-gallery-grid) {
        margin-left: 1em;
        margin-bottom: 1em;
        list-style: disc;
        &:last-child {
            margin-bottom: 0;
        }
        li {
            position: relative;
            margin-bottom: 0.2em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    ol {
        margin-left: 2em;
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 0;
        }
        li {
            position: relative;
            margin-bottom: 0.2em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    a {
        color: var(--wp--preset--color--primary-1);
        text-decoration: underline;
    }
}

@keyframes arrow {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.arrowDown {
    color: var(--wp--preset--color--mono-white);
    display: block;
    position: absolute;
    animation: arrow 3s infinite;
    z-index: 999;
    @include mx.S {
        right: 10px;
        bottom: 20px;
        scale: 0.5;
    }
    @include mx.M {
        right: 40px;
        bottom: 40px;
        scale: 0.8;
    }
    @include mx.L {
        bottom: 40px;
        left: 50%;
    }
    &__arrow {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 4px;
        height: 40px;
        animation: arrow 3s infinite;
        &::before {
            content: '';
            display: block;
            width: 4px;
            height: 40px;
            background-color: var(--wp--preset--color--mono-white);
        }
        &::after {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            border-bottom: 4px solid var(--wp--preset--color--mono-white);
            border-right: 4px solid var(--wp--preset--color--mono-white);
            transform: rotate(45deg);
            margin-left: -5px;
            margin-top: -11px
        }
    }
}
