@use 'mx';
@use 'var';
@use 'sass:math';

.wp-block-media-text.mtSpecial1 {
    column-gap: calc(var(--column-gap) * 4) !important;
    .wp-block-media-text__content {
    }
}

.wp-block-columns.columnsSpecial1 {
    row-gap: calc(var(--row-gap) * 2) !important;
    column-gap: calc(var(--column-gap) * 2) !important;
    @include mx.S {
    }
    @include mx.M {
    }
    @include mx.L {
    }
}
