@use 'mx';
@use 'var';
@use 'sass:math';

.wp-block-media-text.mtSpecial1 {
    column-gap: calc(var(--column-gap) * 2) !important;
    row-gap: var(--row-gap) !important;
    .wp-block-media-text__content {
        padding: 0;
    }
}

.wp-block-columns.columnsSpecial1 {
    row-gap: calc(var(--row-gap) * 2) !important;
    column-gap: calc(var(--column-gap) * 2) !important;
    @include mx.S {
    }
    @include mx.M {
    }
    @include mx.L {
    }
}

.wp-block-group.gSpecial1 {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        z-index: 10;
        top: 20px;
        left: 50%;
        right: 10px;
        bottom: 0;
        background-image: url('../images/bg/temida-1.png');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }
    & > * {
        position: relative;
        z-index: 20;
    }
}
